page-timer {

    .progress-wrapper{
        position: relative;

        .timeText{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            text-align: center;
            width: 100%;
            z-index: 1;
            color:#fff;
            font-size: 26pt;
        }

        round-progress{
            margin:auto;
        }
    }   
    

    ion-fab {
        padding:10px;

        .fab {
            background-color: transparent;
            border: 2px solid;
        }
    }

    ion-grid {
        color:#fff;
        font-size: 18px;

        .button {
            color:#fff;
            border-color: #fff;

            
        }
    }
}



